.donut-article {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.donut-article figure {
  margin: 0;
}

#d3-donut {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  overflow: visible;
}

#d3-donut svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#d3-donut path.slice {
  stroke-width: 2px;
}

#d3-donut polyline {
  opacity: 0.3;
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
